<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="snn.apds.wizards.category"
            name="ADPS Wizards"
            parentCategory="org.eclipse.ui.Basic">
      </category>
      <wizard
            category="snn.apds.ui.category.wizards"
            class="snn.apds.ui.wizards.NewProjectApds"
            finalPerspective="snn.apds.perspective"
            icon="icons/objs16/project-folder.png"
            id="snn.apds.new_project.wizard"
            name="New APDS Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="snn.apds.ui.perspectives.PerspectiveFactory"
            id="snn.apds.perspective"
            name="APDS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="snn.apds.perspective">
         <view
               id="snn.apds.ui.views.ApdsNavigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="snn.apds.ui.views.ApdsNavigator"
            name="Apds Navigator"
            restorable="true">
      </view>
      <view
            class="snn.apds.ui.views.model.ModelView"
            id="snn.apds.ui.views.model.ModelView"
            name="Model View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="snn.apds.ui.views.ApdsNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="snn.apds.ui.views.ApdsNavigator">
         <includes>
            <contentExtension pattern="snn.apds.ui.views.ApdsNavigator.customContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
